.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
ul{
    flex: 1;
    list-style: none;
    text-align: right;
}
ul li{
    display: inline-block;
    margin-left: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}